<div class="container p-3 my-3 bg-dark text-white">
<div>
  <input type="date" [(ngModel)]="date" (ngModelChange)="getSeances()">
</div>
  <div *ngFor="let movie of movies">
    <div *ngIf="seancesMap.get(movie.name) !== undefined">
      <div class="row  align-items-center" style="margin: 35px; align-content: center">
        <img src="{{movie.img}}">
        <div style="margin: 35px">
          <p style="color: white">Tytul: {{movie.name | titlecase}}</p>
          <p style="color: white">Czas trwania: {{movie.duration}}</p>
        </div>
        <div *ngFor="let seance of seancesMap.get(movie.name)">

          <p *ngIf="PlayingNow(date,seance,movie.duration)" style="color: white; margin: 35px; cursor: pointer;"
             (click)="buyTicket(movie.name,seance,date)">{{seance}}</p>
          <p *ngIf="!PlayingNow(date,seance,movie.duration)" style="color: green; margin: 35px; cursor: pointer;"
             (click)="buyTicket(movie.name,seance,date)">{{seance}}</p>
        </div>
        <div *ngIf="popularity.get(movie.name) !== null">
          <ngb-rating [rate]="popularity.get(movie.name)"
                      style="color: white; margin-right: 35px; margin-bottom: 15px"
                      readonly="readonly"></ngb-rating>
        </div>


      </div>
    </div>
  </div>

<div class="d-flex justify-content-end">
  <div class="btn-group-vertical">
  <button class="btn btn-success"
          style="height: fit-content;margin-right: 35px; width: 150px"
          (click)="addSeance()">Dodaj Seans
  </button>
  <button class="btn btn-primary"
          style="height: fit-content;margin-right: 35px; width: 150px"
          name="EditButton"
          (click)="editMode()">Edytuj Seans
  </button>
  </div>
</div>

</div>
