<div class="container p-3 my-3 bg-dark text-white">
  <h2>Twoje rezerwacje w koszyku</h2>
  <div class="list-group" id="lista">
	<div *ngFor="let s of lista" >
		<div class="container border-own border-own-color" style="overflow-y: scroll;
    max-height: 40%;">
						  <div class="row">
						    <div class="col-md-4"><img class="float-left" style="width:160px;height:180px" src="{{s.img}}"/></div>
							<div class="col-md-8">
							  {{s.nazwa}}
							  <div class="row">
								<div class="col-md-6">Data: {{s.data}}</div>
								</div>
								
							  <div class="row">
								<div class="col-md-6">Godzina: {{s.czas}}</div>
							  </div>
							  
							  <div class="row">
								<div class="col-md-6">Miejsca: {{s.miejsca}}</div>
								<button style="cursor:pointer" (click)="del(s.id)" class="btn btn-danger float-right">Usuń</button>
							  </div>
							</div>
						  </div>
		</div>
	</div>
	
	<button style="cursor:pointer" (click)="finalizeShop()" class="btn btn-success vertical-center">Kup</button>
  </div>
</div>
<div class="container p-3 my-3 bg-dark text-white" style="margin-top:15px;overflow-y: scroll;
    max-height: 40%;">
  <h2>Lista twoich zakupionych seansy</h2>
  <div class="list-group" id="lista">
	<div *ngFor="let x of zakupione" >
		<div class="container border-own border-own-color">
						  <div class="row">
						    <div class="col-md-4"><img class="float-left" style="width:160px;height:180px" src="{{x.img}}"/></div>
							<div class="col-md-8">
							  {{x.nazwa}}
							  <div class="row">
								<div class="col-md-6">Data: {{x.data}}</div>
								</div>
								
							  <div class="row">
								<div class="col-md-6">Godzina: {{x.czas}}</div>
							  </div>
							  
							  <div class="row">
								<div class="col-md-6">Miejsca: {{x.miejsce}}</div>
							  </div>
							</div>
						  </div>
		</div>
	</div>
  </div>
</div>