<body>
<div class="container p-3 my-3 bg-dark text-white" style="overflow-y: scroll;
    height: 78%;">
	<h3 style = "color: white">Sortowanie</h3>

	<button class="btn btn-primary btn-custom"
			style="height: fit-content; align-content: end"
			(click)="sortByName()">Sortuj po nazwie
	</button>
	<button class="btn btn-primary btn-custom"
			style="height: fit-content; align-content: end"
			(click)="sortByDuration()">Sortuj po czasie trwania
	</button>
  <input [(ngModel)]="title" (ngModelChange)="onTitleChange($event)" type="search" id="site-search" placeholder="Wyszukaj film po tytule" >
		<div class="d-flex justify-content-end">
	  <button class="btn btn-success"
			  style="height: fit-content;
					margin-right: 35px"
            *ngIf="login === 'admin'"
			  (click)="addMovie()">Dodaj Film
	  </button>
	</div>
	<div class = "overflow-auto" >
	<div *ngFor="let movie of moviesList" >

    <div *ngIf="(title == null || title == '') || (title != '' && movie.name.includes(title))" >
	  <div class="row  align-items-center" style="margin: 35px; align-content: center">
		<div>
		<figure><img src="{{movie.img}}"></figure>
		</div>
		<div appStyle>
		  <p>Tytul: {{movie.name | titlecase}}</p>
		  <p>Czas trwania: {{movie.duration}}</p>
		</div>
		<p appStyle>Oceny użytkowników: </p>
		<ngb-rating [(rate)]="movie.rate"
					style="color: white; margin-right: 35px; margin-bottom: 15px"
					readonly="readonly"></ngb-rating>
		<div class="btn-group-vertical" *ngIf="login === 'admin'">
		  <button class="btn btn-primary btn-custom"
				  style="height: fit-content; align-content: end"
				  (click)="editMovie(movie)">Edytuj Film
		  </button>
		  <button class="btn btn-danger btn-custom"
				  style="height: fit-content"
				  (click)="removeMovie(movie.name)">Usuń Film
		  </button>
    </div>
		</div>

	  </div>
	</div>
	</div>


</div>
</body>
