<div class="container p-3 my-3 bg-dark text-white">
<form>
  <div class="form-group">
    <label for="login">Login</label>
    <input type="text" class="form-control" id="login" placeholder="Podaj login...">
  </div>
  <div class="form-group">
    <label for="password">Hasło</label>
    <input type="password" class="form-control" id="password" placeholder="Podaj hasło...">
  </div>
  <div id="err" style="color:red">
	
  </div>
  <div id="msg" style="color:aqua">
	
  </div>
  <button id="login" (click)="login()" class="btn btn-primary">Zaloguj</button>
</form>
</div>